/* Used */
.one { color: red; }
.two { color: red; }
.three { color: red; }
.four { color: red; }
.five { color: red; }
.six { color: red; }
.seven { color: red; }

/* Unused */
.eight { color: red; }
.nine { color: red; }
.ten { color: red; }